{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">MeChat</a>
        <button aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#ftco-nav" data-toggle="collapse" type="button">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
<!--                <li class="nav-item dropdown">-->
<!--                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"-->
<!--                       data-toggle="dropdown"-->
<!--                       href="portfolio.html" id="dropdown04">Portfolio</a>-->
<!--                    <div aria-labelledby="dropdown04" class="dropdown-menu">-->
<!--                        <a class="dropdown-item" href="portfolio.html">Portfolio</a>-->
<!--                        <a class="dropdown-item" href="portfolio-single.html">Portfolio Single</a>-->
<!--                    </div>-->
<!--                </li>-->
                <li class="nav-item"><a class="nav-link" href="new_chat">Start New Chat</a></li>
                <li class="nav-item cta dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown"> Hello {{request.user}}</a>
                    <div aria-labelledby="dropdown04" class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            <form action="{% url 'logout-user' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>
                            {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
