{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>MeChat</title>
    <link
            rel="icon"
            href="{% static 'logo.png' %}"
            type="image/x-icon"
        />
    <link href="{% static 'call.css' %}" rel="stylesheet">
</head>
<body>

<div id="loader-wrapper" style="display: block;">
        <div id="loader"></div>
    </div>

<div>

        <!-- to make a call with name -->
        <div id="call">
            <div class="dialWrapper">
                <input id="callName" name="callName"
                       placeholder="Whom to call?" readonly style="text-align:center; height: 50px; font-size: xx-large;" type="text" value="{{receiver}}">
                <div class="dialNumpadHWrapper">
                    <div class="dialNumber">
                    </div>
                    <div class="dialNumber">
                        <button class="dialActionButton" onclick="call()">Call</button>
                    </div>
                    <div class="dialNumber">
                    </div>
                </div>

            </div>
        </div>

        <!-- to show incommming call and accept -->
        <div id="answer">
            <div class="incomingWrapper">
                <div class="itemWrapper">
                    <h2>Incomming Call</h2>
                </div>
                <div class="itemWrapper">
                    <img alt="" id="profileImageA"
                         src="https://i.imgur.com/DY6gND0.png" style="padding: 30px; width: 140px; height: 140px;">
                </div>
                <div class="itemWrapper">
                    <h2 style="line-height: 0px;"><span id="callerName"></span></h2>
                </div>
                <div class="itemWrapper" style="display: flex; flex-direction: row; margin-bottom: 20px;">
                    <button class="actionButton" onclick="answer()">Answer</button>
                </div>
            </div>
        </div>

        <!-- to show outgoing call -->
        <div id="calling">
            <div class="incomingWrapper">
                <div class="itemWrapper">
                    <h2>Calling</h2>
                </div>
                <div class="itemWrapper">
                    <img alt="" id="profileImageCA"
                         src="https://i.imgur.com/HYcn9xO.png" style="padding: 30px; width: 140px; height: 140px;">
                </div>
                <div class="itemWrapper">
                    <h3 style="line-height: 0px;"><span id="otherUserNameCA"></span></h3>
                </div>
            </div>
        </div>

        <!-- to show call in progress call -->
        <div id="inCall">
            <div class="incomingWrapper">
                <div class="itemWrapper">
                    <h3>On Call With <span id="otherUserNameC"></span></h3>
                </div>
            </div>
            <button onclick="stop()">Stop</button>
        </div>


        <br>

        <!-- to show local and remote video -->
        <div id="videos">
            <div style="position:absolute; top:70vh; right:0; padding-right: 20px; padding-top: 20px">
                <video autoplay id="localVideo" muted playsinline style="width:25vw;"></video>
            </div>
            <div id="remoteVideoDiv">
                <video autoplay id="remoteVideo" playsinline style="width: 90vw;"></video>
            </div>
        </div>
        <div style="flex-grow: 1;">
        </div>
    </div>


    <script src="/static/call.js"></script>
    <script>

        document.getElementById("call").style.display = "none";
        document.getElementById("answer").style.display = "none";
        document.getElementById("inCall").style.display = "none";
        document.getElementById("calling").style.display = "none";
        document.getElementById("videos").style.display = "none";

    </script>
    <script>

        let userName = "{{sender}}";
        myName = userName;
        document.getElementById("call").style.display = "block";
        const roomName = "{{ roomName }}";
        console.log(roomName);
        connectSocket(roomName);

    </script>
</body>
</html>